/* Smaller Screen Size */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&display=swap');
@media screen and (max-width: 1515px) {
	:root {
		--HEADER-BGCOLOR: rgb(65, 105, 225);
		--BUTTON-BGCOLOR: rgb(32, 170, 255);
		--BUTTON-ODD-BGCOLOR: rgb(116, 199, 252);
	}

	html {
		font-family: monospace;
		scroll-behavior: smooth;
		background-color: white;
		transition: 0.5s all;
	}

	header {
		margin-bottom: 1rem;
		background-color: var(--HEADER-BGCOLOR);
		transition: 0.5s all;
	}

	a {
		color: black;
	}

	/* ---CATEGORY BUTTON STYLES--- */
	nav button {
		font-size: 0.9rem;
		padding: 0.3rem 0.3rem;
		display: inline-block;
		transition: 0.5s all;
	}

 	.odd {
		background-color: var(--BUTTON-ODD-BGCOLOR);
		z-index: 1;
	}

 	.odd:hover {
		transform: scale(120%);
		border-radius: 2rem;
		box-shadow: 0rem -5rem rgba(255, 255, 255, 0.301);
		z-index: 2;
	}

 	.even {
 		background-color: var(--BUTTON-BGCOLOR);
	 	z-index: 1;
 	}

 	.even:hover {
	 	transform: scale(120%);
		border-radius: 2rem;
		box-shadow: 0rem -5rem rgba(255, 255, 255, 0.301);
	 	z-index: 2;
 	}

	/* -----SCROLLBARS----- */
	::-webkit-scrollbar {
		width: 7px;
		height: 7px;
	}

	::-webkit-scrollbar-track {
		background: white;
	}

	::-webkit-scrollbar-thumb {
		background: #4169e1;
		border-radius: 1rem;
	}

	::-webkit-scrollbar-thumb:active {
		background-color: #2153eb;
	}

	.top {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	/* -----THEME START----- */

	.themes {
		font-size: 0.9rem;
		font-weight: bold;
		border: 1px solid black;
		border-radius: 2rem;
		display: flex;
		gap: 0.3rem;
		padding: 0.3rem 0.6rem;
	}

	#dark_theme {
		cursor: pointer;
	}

	#light_theme {
		cursor: pointer;
	}

	/* -----THEME END----- */

	.title {
		font-size: 6rem;
		font-family: 'Bebas Neue', sans-serif;
	}

	.legend {
		font-size: 0.9rem;
		font-family: sans-serif;
	}

	/* -----CATEGORY BUTTONS----- */

	.list {
		margin-top: 1rem;
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		border-radius: 2rem;
		box-shadow: 0 -3rem 4rem rgb(0, 191, 255);
	}

	/* -----SEARCH BAR & INTRODUCTION----- */

	.info {
		position: absolute;
		top: 11.5rem;
		left: 15rem;
		transition: 0.5s all;
	}

	.search_bar_box {
		margin-bottom: 1rem;
		margin-left: 17rem;
	}

	.bar {
		background-color: rgba(255, 255, 255, 0);
		border: 1px solid black;
		border-radius: 0.5rem;
		width: 8rem;
		height: 1.2rem;
		font-size: 0.9rem;
		transition: 0.5s all;
	}

	.main_content {
		font-size: 0.9rem;
	}

	.content_hide {
		opacity: 0;
		cursor: default;
	}

	/* -----DISCORD LINKS----- */

	.our_dis {
		position: absolute;
		width: 32rem;
		height: 2.2rem;
		top: 5rem;
		border-radius: 2rem;
		font-size: 1rem;
		font-weight: bold;
		background-color: #5865f2;
		color: white;
		transition: 0.3s all;
	}

	.our_dis:hover {
		color: #7289da;
		background-color: #2b2f35;
		transform: scale(110%);
	}

	.our_dis_dark_theme {
		position: absolute;
		width: 32rem;
		height: 2.2rem;
		top: 5rem;
		border-radius: 2rem;
		font-size: 1rem;
		font-weight: bold;
		background-color: #2b2f35;
		color: #7289da;
		transition: 0.3s all;
	}

	.our_dis_dark_theme:hover {
		color: blueviolet;
		transform: scale(110%);
	}

	.block_N1,
	.block_N2 {
		opacity: 0;
	}

	/* ---DATA PARAMETERS--- */

	.data_box_frame {
		position: absolute;
		right: 0rem;
		bottom: 0;
		display: block;
		overflow-x: scroll;
		overflow-y: scroll;
		width: 80rem;
		height: 35rem;
		border-top-left-radius: 2rem;
		border: 1px solid;
	}

	.data_box_header {
		display: flex;
		width: 100%;
		height: 1.5rem;
		justify-content: center;
	}

	#data_title {
		font-size: 0.9rem;
		font-weight: bold;
	}

	#data_title2 {
		font-size: 0.9rem;
		font-weight: bold;
		margin-left: 6.6rem;
	}

	.data_box {
		display: flex;
		width: 200rem;
	}

	ol {
		font-size: 0.9rem;
		line-height: 1.4rem;
		margin-left: 5rem;
	}

	ul {
		list-style: none;
		font-size: 0.9rem;
		line-height: 1.4rem;
		margin-left: 1rem;
	}

	.red {
		color: #dd2e44;
	}

	.green {
		color: #78b159;
	}

	.green:hover {
		color: blueviolet;
	}

	.red:hover {
		color: blueviolet;
	}
}
